@import "./mixin.scss";

.login-wap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;

  & * {
    box-sizing: content-box;
  }

  &-popup {
    @include px2rem('width', 670px);
    @include px2rem('padding', 0 32px 38px);
    @include radius(4px);

    box-sizing: border-box;
    background: #fff;
    position: relative;
  }

  &-title {
    @include font(44px);
    @include height(60px, 60px);
    @include px2rem('padding-top', 96px);

    font-family: 'PingFangSC-Regular';
    color: #333;
    letter-spacing: 0;
    margin: 0;
    font-weight: normal;
  }

  &-desc {
    @include font(24px);
    @include height(34px, 34px);
    @include px2rem('padding-bottom', 30px);

    font-family: 'PingFangSC-Regular';
    color: #999;
    letter-spacing: 0;
    margin: 0;
  }

  &-close {
    @include px2rem('width', 32px);
    @include px2rem('height', 32px);
    @include px2rem('padding', 32px);

    position: absolute;
    top: 0;
    right: 0;
  }

  &-error {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    @include px2rem('height', 44px);

    &-text {
      display: block;
      position: relative;
      color: #f2403c;
      box-sizing: border-box;

      @include font(24px);
      @include height(40px, 40px);
      @include paddingLeft(8px);
    }

    &-img {
      width: 14px;
      height: 14px;
    }
  }

  &-button {
    color: #fff;
    text-align: center;
    border: none;
    background: #1996f9;
    box-shadow: 0 22px 17px -18px rgba(25, 150, 249, 0.9);
    font-family: 'PingFangSC-Medium';
    letter-spacing: 0;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;

    @include height(88px, 1);
    @include font(32px);
    @include radius(44px);
    @include px2rem('margin-top', 58px);
    @include px2rem('margin-bottom', 24px);
    @include px2rem('width', 552px);

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
    }

    &-disabled {
      background: #aaa;
      pointer-events: none;
      box-shadow: 0 22px 16px -18px rgba(0, 0, 0, 0.32);
    }
  }

  &-box {
    @include px2rem('width', 574px);

    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: left;

    @include border(1px, #ebebeb, bottom);
    @include paddingBottom(1px);
  }

  &-prefix {
    @include height(92px);
    @include font(28px);

    appearance: none;
    border: none;
    background: none;
    position: relative;
    color: #333;
    padding-right: 12px;

    &:focus {
      outline: none;
    }

    &-wraper {
      @include px2rem('margin-right', 32px);

      position: relative;

      &::before,
      &::after {
        width: 8px;
        content: '';
        height: 1px;
        position: absolute;
        top: 50%;
        background: #dbdbdb;
      }

      &::before {
        right: 5px;
        transform: rotate(45deg);
      }

      &::after {
        right: 0;
        transform: rotate(-45deg);
      }
    }
  }

  &-input {
    @include height(28px, 28px);
    @include font(28px);
    @include paddingBottom(32px);
    @include paddingTop(32px);

    border: none;
    width: 100%;
    position: relative;

    &::before {
      @include height(36px);

      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 1px;
      background: #000;
    }

    &:focus {
      outline: none;
    }
  }

  &-smscode {
    @include font(28px);
    @include width(140px);
    @include radius(30px);
    @include height(26px, 26px);
    @include px2rem('left', 32px);

    font-family: 'PingFangSC-Regular';
    letter-spacing: 0;
    position: absolute;
    color: #1996f9;
    top: 50%;
    transform: translateY(-50%);

    &-disabled {
      color: #999;
    }

    &-wraper {
      @include width(244px);

      position: relative;

      &::before {
        @include height(26px);
        @include width(4px);
        @include left(4px);

        content: '';
        position: absolute;
        top: 50%;
        background: #f0f0f0;
        transform: translateY(-50%);
      }
    }
  }

  & input::-webkit-outer-spin-button,
  & input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
  }

  & input[type="number"] {
    -moz-appearance: textfield;
  }

  & input::-webkit-input-placeholder {
    color: #999;
    line-height: normal;

    @include font(28px);
  }
}
