@import "./mixin.scss";

.login-wap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;

  & * {
    box-sizing: content-box;
  }

  &-popup {
    @include px2rem('width', 670px);
    @include px2rem('padding', 0 32px 86px);

    box-sizing: border-box;
    background: #fff;
    position: relative;
  }

  &-title {
    @include font(36px);
    @include height(50px, 50px);
    @include px2rem('padding-top', 104px);

    font-family: 'PingFangSC-Regular';
    color: #333;
    letter-spacing: 0;
    margin: 0;
    font-weight: normal;
  }

  &-desc {
    @include font(24px);
    @include height(34px, 34px);
    @include px2rem('padding-bottom', 30px);

    font-family: 'PingFangSC-Regular';
    color: #666;
    letter-spacing: 0;
    margin: 0;
  }

  &-close {
    @include px2rem('width', 32px);
    @include px2rem('height', 32px);
    @include px2rem('padding', 32px);

    position: absolute;
    top: 0;
    right: 0;
  }

  &-error {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    @include px2rem('height', 44px);

    &-text {
      display: block;
      position: relative;
      color: #f2403c;
      box-sizing: border-box;

      @include font(24px);
      @include height(40px, 40px);
      @include paddingLeft(8px);
    }

    &-img {
      width: 14px;
      height: 14px;
    }
  }

  &-button {
    width: 100%;
    color: #fff;
    text-align: center;
    border: none;
    background: #1996f9;
    box-shadow: 0 8px 20px -10px #1996f9;
    font-family: 'PingFangSC-Medium';
    letter-spacing: 0;
    box-sizing: border-box;

    @include height(88px, 88px);
    @include width(606px);
    @include font(32px);
    @include radius(44px);
    @include px2rem('margin', 48px 0 24px);

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
    }

    &-disabled {
      background: #ccc;
      pointer-events: none;
      box-shadow: 0 8px 20px -10px #ccc;
    }
  }

  &-box {
    @include px2rem('width', 574px);

    display: flex;
    margin: 0 auto;
    position: relative;

    @include border(2px, #ebebeb, bottom);
  }

  &-prefix {
    // @include width(60px);
    @include height(92px);

    appearance: none;
    border: none;
    background: none;
    position: relative;
    color: #333;
    padding-right: 12px;

    &:focus {
      outline: none;
    }

    &-wraper {
      @include px2rem('margin-right', 20px);

      position: relative;

      &::before,
      &::after {
        width: 6px;
        content: '';
        height: 1px;
        position: absolute;
        top: 50%;
        background: #000;
        border-radius: 50%;
      }

      &::before {
        right: 4px;
        transform: rotate(45deg);
      }

      &::after {
        right: 0;
        transform: rotate(-45deg);
      }
    }
  }

  &-line {
    @include height(92px);
    @include px2rem('padding', 0 0 0 20px);

    width: 100%;
    position: relative;

    &::before {
      @include height(36px);
      @include width(2px);

      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      background: #ccc;
      transform: translateY(-50%);
    }
  }

  &-input {
    @include height(28px, 28px);
    @include font(28px);
    @include paddingBottom(32px);
    @include paddingTop(32px);

    border: none;
    width: 100%;
    position: relative;

    &::before {
      @include height(36px);

      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 1px;
      background: #000;
    }

    &:focus {
      outline: none;
    }
  }

  &-smscode {
    @include font(20px);
    @include radius(30px);
    @include px2rem('padding', 6px 14px);
    @include height(28px, 28px);
    @include border(2px, #1996f9);

    font-family: 'PingFangSC-Regular';
    letter-spacing: 0;
    position: absolute;
    color: #1996f9;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &-disabled {
      @include border(2px, #ccc);

      color: #999;
    }

    &-wraper {
      @include width(220px);

      position: relative;
    }
  }

  & input::-webkit-outer-spin-button,
  & input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
  }

  & input[type="number"] {
    -moz-appearance: textfield;
  }

  & input::-webkit-input-placeholder {
    color: #999;

    @include font(28px);
  }
}
